.cash-grain--heading-one {
  font-family: 'Stardos Stencil', sans-serif;
  font-size: 40px;
  line-height: 1;
  margin: 0;
  @media (min-width: $break-sm) {
    font-size: 72px;
  }
  @media (min-width: $break-md) {
    font-size: 88px;
  }
}

.cash-grain--heading-two {
  font-family: 'Stardos Stencil', sans-serif;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  @media (min-width: $break-sm) {
    font-size: 40px;
  }
  @media (min-width: $break-md) {
    font-size: 48px;
  }
}

.cash-grain--collection-heading {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.cash-grain--heading-label {
  font-family: 'Stardos Stencil', sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  @media (min-width: $break-sm) {
    font-size: 18px;
  }
}

.cash-grain--photo-desc {
  font-size: 11px;
  line-height: 1;
  margin: 0;
  @media (min-width: $break-sm) {
    font-size: 12px;
  }
}

// .global--heading-two {
//   font-size: 30px;
//   letter-spacing: -.01em;
//   line-height: 1.2;
//   margin: 0;
//   font-weight: 200;
//   @media (min-width: $break-md) {
//     font-size: 48px;
//   }
//   @media (min-width: $break-lg) {
//     font-size: 58px;
//   }
// }

// .global--heading-three {
//   font-size: 21px;
//   letter-spacing: -.01em;
//   line-height: 1.2;
//   margin: 0;
//   font-weight: 200;
//   @media (min-width: $break-md) {
//     font-size: 36px;
//   }
//   @media (min-width: $break-lg) {
//     font-size: 40px;
//   }
// }

// .global--heading-four {
//   font-size: 44px;
//   letter-spacing: -.01em;
//   line-height: 1.2;
//   margin: 0;
//   font-weight: 200;
//   @media (min-width: $break-md) {
//     font-size: 60px;
//   }
//   @media (min-width: $break-lg) {
//     font-size: 70px;
//   }
// }
