// Primary
$color--brand-blue-light: #20C5F7;
$color--brand-white: #FAFAFA;

// Secondary
$color--gray-10: #EDEDED;
$color--gray-40: #909090;
$color--gray-60: #555555;
$color--gray-80: #333;
$color--gray-90: #222222;
$color--grey-light: #F5F5F5;
$color--gray-blue: #BBD5E0;
$color--black: #131010;
$color--red: #E02B2B;


